@model Domain.Model.UserTask;

<form method="post" asp-action="Delete">
    <input asp-for="id" hidden />
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">Delete category</h2>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }