<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Registration" method="post">
    <div class="form-group offset-md-5 col-md-2">
        <div class="text-center">Create new account</div> <br />
        Name: <input class="form-control" name="Name" /><br />
        Password: <input class="form-control" name="Password" /><br />
    </div>
    <div class=" offset-md-5 col-md-2">
        <button type="submit" class="btn btn-primary">Create</button> <br />
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
</form>